<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://www.udemy.com/staticx/udemy/images/v8/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://www.udemy.com/staticx/udemy/images/v8/favicon-16x16.png" />
    <meta name="title" content="Online Courses - Learn Anything, On Your Schedule | Udemy">
    <link rel="stylesheet" href="style/global.css">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/course-list.css">

    <title>Online Courses - Learn Anything, On Your Schedule | Udemy</title>
</head>

<body>
    <nav>
    </nav>
    <div class="container">
        <div class="post">
            <div class="slide-text">
                <div id="text1">Learning that gets you</div>
                <div id="text2">Skills for your present (and your future). Get started with us.</div>
            </div>
            <div class="img">
                <img src="https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/db24b94e-d190-4d5a-b1dd-958f702cc8f5.jpg"
                    alt="">
            </div>
        </div>
        <div class="post">

            <div class="img">
                <img src="https://cdn.static-zoutons.com/images/originals/blog/main-banner_(85)_1620813116.png" alt="">
            </div>
        </div>
        <div class="post">
            <div class="slide-text">
                <div id="text1">Learning that gets you</div>
                <div id="text2">Skills for your present (and your future). Get started with us.</div>
            </div>
            <div class="img">
                <img src="https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/db24b94e-d190-4d5a-b1dd-958f702cc8f5.jpg"
                    alt="">
            </div>
        </div>
        <div class="post">
            <div class="img">
                <img src="https://cdn.static-zoutons.com/images/originals/blog/main-banner_(85)_1620813116.png" alt="">
            </div>
        </div>
    </div>
    </div>



    <div id="b3">
        <div id="b34">
            Training 5 or more people?
            <span id="b31">Get your team access to Udemy's top 6,000+ courses</span>
        </div>
        <div>
            <button id="b32">
                Get Udemy business
            </button>
        </div>
        <div>
            <button id="b33">
                Dismiss
            </button>
        </div>
    </div>








    <div id="z1">What to learn next</div>
    <div class="course-title" id="z2">Popular for advancing Full Stack Web Developers <span
            style="color:#5624d0; font-size: .97rem; text-decoration: underline; margin-left: 1.2rem;">Edit
            profession</span></div>









    <div id="z3">
        <div id="z4">New </div> <span style="margin-left: .7rem;">Inspired by your selections</span>
    </div>




    <!-- 1 container  -->


    <!-- 1 container  -->

    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide">
                </div>
            </div>
            <button class="next-slide" id="slide1">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>









    <!-- 2nd  -->

    <div class="course-title" id="z2">Because you viewed "<span style="color:#5624d0; font-size: .97rem; text-decoration: none;font-size: 1.5rem;
        font-weight: bold;">The Complete 2022 Web Development Bootcamp</span>"</div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_1">
                </div>
            </div>
            <button class="next-slide" id="slide1_11">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_1">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>







    <div class="course-title" id="z2">Topics recommended for you <span
            style="color:#5624d0; font-size: .97rem; text-decoration: none; margin-left: 1.2rem;"></span></div>
    <div id="recom">
        <div class="recom1">React</div>
        <div class="recom1">React Hooks</div>
        <div class="recom1">Redux Framework</div>
        <div class="recom1">React Native</div>
        <div class="recom1">MERN Stack</div>
        <div class="recom1">Web Development</div>
        <div class="recom1">JavaScript</div>
        <div class="recom1">Node.Js</div>
        <div class="recom1">MongoDB</div>
        <div class="recom1">Front End Web Development</div>
    </div>



    <!-- 3rd  -->

    <div class="course-title" id="z2">What people who learn <span style="color:#5624d0; font-size: .97rem; text-decoration: none;font-size: 1.5rem;
    font-weight: bold;">React</span> take next</div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_2">
                </div>
            </div>
            <button class="next-slide" id="slide1_21">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_2">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>






    <!-- 4th  -->
    <div class="course-title" id="z2">Featured courses in <span style="color:#5624d0; font-size: .97rem; text-decoration: none; font-size: 1.5rem;
    font-weight: bold;">React</span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_3">
                </div>
            </div>
            <button class="next-slide" id="slide1_31">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_3">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>



    <!-- 5th  -->
    <div class="course-title" id="z2">Featured courses in <span style="color:#5624d0; font-size: .97rem; text-decoration: none;font-size: 1.5rem;
    font-weight: bold; ">Web Development </span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_4">
                </div>
            </div>
            <button class="next-slide" id="slide1_41">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_4">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>







    <!-- 6th  -->
    <div class="course-title" id="z2">Top courses in IT & Software<span
            style="color:#5624d0; font-size: .97rem; text-decoration: none; margin-left: 1.2rem;"></span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_5">
                </div>
            </div>
            <button class="next-slide" id="slide1_51">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_5">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>





    <!-- 7th  -->
    <div class="course-title" id="z2">Short and sweet courses for you<span
            style="color:#5624d0; font-size: .97rem; text-decoration: none; margin-left: 1.2rem;"></span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_6">
                </div>
            </div>
            <button class="next-slide" id="slide1_61">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_6">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>






    <!-- 8th  -->
    <div class="course-title" id="z2">Top courses in Personal Development<span
            style="color:#5624d0; font-size: .97rem; text-decoration: none; margin-left: 1.2rem;"></span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_7">
                </div>
            </div>
            <button class="next-slide" id="slide1_71">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_7">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>





    <!-- 9th  -->
    <div class="course-title" id="z2">Top courses in Development<span
            style="color:#5624d0; font-size: .97rem; text-decoration: none; margin-left: 1.2rem;"></span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_8">
                </div>
            </div>
            <button class="next-slide" id="slide1_81">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_8">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>






    <!-- 10th  -->
    <div class="course-title" id="z2">Top courses in Business<span
            style="color:#5624d0; font-size: .97rem; text-decoration: none; margin-left: 1.2rem;"></span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_9">
                </div>
            </div>
            <button class="next-slide" id="slide1_91">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_9">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>




    <!-- 11th  -->
    <div class="course-title" id="z2">Students are viewing<span
            style="color:#5624d0; font-size: .97rem; text-decoration: none; margin-left: 1.2rem;"></span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_10">
                </div>
            </div>
            <button class="next-slide" id="slide1_101">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_10">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>





    <!-- 12th  -->
    <div class="course-title" id="z2">Top courses in Design<span
            style="color:#5624d0; font-size: .97rem; text-decoration: none; margin-left: 1.2rem;"></span></div>



    <div class="con1">
        <div class="course-list">
            <div>
                <div class="slide" id="slide_11">
                </div>
            </div>
            <button class="next-slide" id="slide1_111">
                <img src="assets/next.png" alt="" srcset="">
            </button>
            <button class="prev-slide" id="slideP1_11">
                <img src="assets/next.png" alt="" srcset="">
            </button>
        </div>
    </div>

    <div>
        <h1>
            <%= name.name %>
        </h1>
        <h1>
            <%= name.price %>
        </h1>
    </div>

    <footer style=" margin-top:100px; position:relative; background-color: black; color:white !important;">

    </footer>
</body>

</html>
<script type="module">
    import navbar from "./components/navbar.js"
    import footer from "./components/footer.js"
    import cousreList from "./components/courseList.js"
    document.querySelector("nav").innerHTML = navbar()
    document.querySelector("footer").innerHTML = footer()

    document.querySelector(".remove-sale").addEventListener("click", () => {
        document.querySelector(".sale-nav").style.display = "none"
    })

    ////////
    // change mode
    if (JSON.parse(localStorage.getItem("theme")) == "dark") {
        document.querySelector("body").classList.add("dark-theme")
        document.querySelector("#logo-img").src = "https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg"
    } else {
        document.querySelector("#logo-img").src = "https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
        document.querySelector("body").classList.remove("dark-theme")
    }
    document.querySelector(".mods").addEventListener("click", () => {
        document.querySelector(".mods").classList.toggle("light-mode")
        changeTheme()
    })
    function changeTheme() {
        let mode = JSON.parse(localStorage.getItem("theme"))
        if (mode == "dark") {
            document.querySelector("#logo-img").src = "https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
            document.querySelector("body").classList.remove("dark-theme")
            localStorage.setItem("theme", JSON.stringify("light"))
        } else {
            document.querySelector("body").classList.add("dark-theme")
            document.querySelector("#logo-img").src = "https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg"

            localStorage.setItem("theme", JSON.stringify("dark"))

        }
    }
    /////////////
    // navbar end
    let login = JSON.parse(localStorage.getItem("token"))
    if (login) {
        document.querySelector(".sign-log").classList.add("loged")
    }


////////

</script>
<script type="module" src="scripts/mapSlide.js"></script>
<script type="module" src="scripts/search.js"></script>
<script type="module" src="scripts/cat-menu.js"></script>
<script type="module" src="scripts/slide.js"></script>
<script type="module" src="scripts/data.js"></script>
<script src="scripts/tags.js"></script>