<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LogIn</title>
  <link rel="stylesheet" href="style/log_sign.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <div id="up">
    <h3>Log In to Your Udemy Account!</h3>
    <hr />
  </div>
  <form action="/login" method="post" id="form">
    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type="email" name="email" placeholder="Email" id="email" />
    </div>
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" name="password" placeholder="Password" id="password" />
    </div>
    <input type="submit" class="btn"></input>
  </form>
  <div id="goto">
    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
  </div>
</body>

</html>
<script>
  document.querySelector("#form").addEventListener('submit', async (event) => {
    event.preventDefault();
    let res = await fetch(event.target.action, {
      method: 'POST',
      body: new URLSearchParams(new FormData(event.target))
    })
    let data = await res.json()
    localStorage.setItem("token", JSON.stringify(data.token))
    location.href = "/"
  });
</script>