<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/step2.css">
    <title>Document</title>
</head>

<body>
    <nav class="top">
        <div class="left">
            <div class="logo">
                <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="" srcset="">
            </div>
            <div class="steps">

                <p>Step<span class="step-count">
                        2
                    </span>
                    of
                    4</p>
            </div>
        </div>

        <div class="right">
            <a href="/instructor">Exit</a>
        </div>
        <div class="process"></div>
    </nav>

    <div class="container">
        <h1>How about a working title?</h1>
        <p>It's ok if you can't think of a good title now. You can change it later.</p>
        <div class="text-input">
            <input type="text" id="input" placeholder="e.g. Learn Photoshop CS6 from Scratch" maxlength="60"
                name="search" id="tags">
            <div class="text-res">
            </div>
        </div>
    </div>
    <footer>
        <div class="buttons">
            <a href="/instructor/create/1"> <button>Previous</button></a>
            <a href="/instructor/create/3"> <button id="next-btn">Continue</button></a>
        </div>
    </footer>
</body>

</html>
<script>
    let input = document.querySelector("#input")
    let res = document.querySelector(".text-res")
    let id = ""
    let subCat = ""

    input.addEventListener("input", async () => {
        if (input.value == "") {
            res.innerHTML = ""
        } else {
            let res = await fetch(`/search/${input.value}`)
            let data = await res.json()
            console.log(data)
            id = data[0]._id
            subCat = data[0].subCat
            mapData(data)

        }

    })
    function mapData(data) {
        res.innerHTML = ""
        data.forEach(({ name, _id, subcat }) => {
            let p = document.createElement("p")
            p.textContent = name
            res.append(p)
            p.onclick = () => {
                input.value = name

                id = _id
                subCat = subCat
                res.innerHTML = ""
            }
        })
    }
    document.querySelector("#next-btn").addEventListener("click", () => {
        let course = { tag: id, subCat: subCat }
        localStorage.setItem("create-course", JSON.stringify(course))
    })


</script>